body {
    background-color: #a3cef1;
}

form {
    text-align: center;
    border-color: yellow;
}

.profile {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    margin-bottom: 16px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    margin: auto;
    margin-bottom: 16px;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;

}

.sideBar {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 20%;
}

.title {
    text-align: center;
    padding-top: 100px;
}

.login {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    width: 500px;
    height: 300px;
    border: 5px solid blueviolet;
    border-radius: 7%;
}

.label {
    margin: auto;
}

.reset,
.back {
    margin-top: 15px;
    margin-left: 15px;
}

.loginButton {
    background: #0515f8f3;
    color: black;
    border: 2px violet;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #FFFFFF;
}

.nav-item {
    margin: 0px;
    padding: 0px;
    width: 60px;
    height: 58.52px;
}

section .title {
    text-align: center;
    padding: 0px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 22px;
    color: black;
}

form .btn img {
    width: 30px;
    height: 30px;
}

.row {
    margin: 0px;

}


.container {
    /* padding-left: 35px;
    padding-top: 70px; */
    padding-left: 15%;
    padding-top: 30%;
    word-spacing: 10px;
}

#left {
    width: 15%;
    height: 900px;
    padding-top: 75px;
    float: left;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

/* -- EMPLOYEE --*/
.employee {
    width: 112px;
    height: 24px;
    color: black;
}

img.logoemployee {
    width: 30px;
    height: auto;
}

/* -- PAYROLL --*/
.payroll {

    width: 112px;
    height: 24px;
    color: black;
}

img.logopayroll {
    width: 30px;
    height: auto;
}

/* -- Calc --*/
.calc {
    width: 112px;
    height: 24px;
    color: black;
}

img.logocalc {
    width: 30px;
    height: auto;
}

/* --   HR --*/
.hr {
    width: 112px;
    height: 24px;
    color: black;
}

img.logohr {
    width: 30px;
    height: auto;
}

/* -- AUDIT --*/
.audittrial {
    width: 112px;
    height: 24px;
    color: black;
}

img.logoaudit {
    width: 30px;
    height: auto;
}

/* -- MAIL --*/
.mail {
    width: 112px;
    height: 24px;
    color: black;
}

img.logomail {
    width: 30px;
    height: auto;
}

.item {
    margin-bottom: 20px;
}



#right {
    width: 85%;
    padding-top: 75px;
    height: 900px;
    float: right;
    background-color: #dee2e6;
    position: relative;
}

.pagename {
    color: #232D42;
    font-weight: 500;
    font-size: 100px;
    line-height: 130%;
}

/* ----bottom profile pic and position---- */
#footer {
    position: absolute;
    width: 60px;
    height: 55.2px;
    left: 17px;
    top: 738px;


}


.userprofile {
    width: 60px;
    height: 55.2px;

}


.user {
    position: absolute;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;

    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */

    color: #000000;
    width: 112px;
    height: 24px;

    margin: 5px;
}


.position {
    position: absolute;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin: 0 auto;
    width: 150px;
    padding-top: 17px;
    margin: 5px;
}

.signout {
    position: absolute;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #000000;
    width: 70px;
    padding-top: 6px;

}

.signoutlogo {
    width: 25px;
    height: auto;
}

#signout {
    text-align: center;
}

h1 {
    font-size: 33px;
    font-weight: 500;
    line-height: 130%;
    color: #232D42;
}


section .logo1 {
    padding-left: 20px;
    padding-right: 0px;
}

section .title1 {
    margin-top: 40px;
    padding-left: 0px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    text-align: center;
}

.error {
    color: rgb(209, 4, 4);
    font-weight: 700;
    border-color: #000000;
}

h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
}

h6 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    text-align: center;
}

.container1 {
    width: 600px;
    padding: 3em;
    margin: 25px auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.container1 form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

.container1-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

form .data label {
    font-size: 16px;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 6px;
    border: 2px solid #3A57E8;

}

form .checkmark {
    padding-right: 100px;
    color: #3498db;
    text-decoration: none;
}

form .containercheckbox a {
    padding-left: 100px;
    color: #3498db;
    text-decoration: none;
}

form .containercheckbox a:hover {
    text-decoration: underline;
}



form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
}


form .btn input {
    /* height: 50%; */
    width: 50%;
    background-color: #3A57E8;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 188px;
    height: 44px;
    left: 141px;
    top: 495px;
}

form .signup-link {
    text-align: center;
}



section .logo2 {
    padding-left: 80px;
    padding-right: 0px;
}

section .title2 {
    margin-top: 40px;
    padding-left: 20px;
}


.container2 {
    width: 800px;
    padding: 3em;
    margin: 25px auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.container2 form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

.employee-list {
    display: none;
}

.employee-btns {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
    z-index: 100;
    position: relative;

}

.titlebar {
    /* width: 39%; */
    width: 505px;
    height: 30px;
    background-color: lightcyan;
    position: absolute;
}

.main-title {
    position: absolute;
}

#calculation-info {
    display: none;
    flex-direction: column;
}

.profile-btn {
    padding-top: 30px;
    width: 500px;
    height: 80px;
    border-color: grey;
    background-color: #e2eafc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;

}

.profile-pic {

    margin-left: 15px;
    width: 166px;
}

.employee-name {
    padding-left: 90px;
    float: left;
    font-size: 30px;


}

.employee-position {
    padding-right: 90px;
    font-size: 30px;
    float: right;
}

.jobtitle {
    padding-left: 50px;
    font-size: 25px;
}

.employeename {
    padding-left: 80px;
    font-size: 25px;
}

/* --------payroll right side------ */


.recenttitle {
    padding-left: 20px;
    font-size: 25px;

    position: absolute;
}

.recenttitle button {
    background-color: #e1e5f2;
}

/* --------right side of hr-------- divided into three------ */
#rleft {
    width: 33.33%;
    float: left;
    height: 100%;
}

#rright {
    width: 33.33%;
    float: right;
    height: 100%;
}

#rmid {
    width: 33.33%;
    margin: 0 auto;
    height: 100%;

}

/* box info */
.data input {
    height: 100%;
    width: 100%;
    font-size: 17px;
    border-radius: 6px;
    border: 2px solid #3A57E8;
}

.data {
    height: 45px;
    width: 90%;
    margin: 50px 0;
    font-weight: 600;
    font-size: 20px;
}

/* HR left contents */

.right-container-left {
    float: left;
    padding-left: 10px;
    padding-top: 96px;

}

/* HR right contents */
.right-container-right {
    float: right;
    padding-left: 10px;

}

/* HR mid contents */

.right-container-mid {
    padding-left: 10px;
    padding-top: 96px;
}

select {
    border-radius: 6px;
    border: 10px solid #3A57E8;
}

/* --------audit trail right side------ */
/* table,
tr {
    width: 1079px;
    height: 579px;
    left: 265px;
    top: 100px;
    border-radius: 10px;
    background-color: grey;

} */

table,
th {


    margin-left: 4%;
    margin-right: 6%;
    margin-top: 15%;
    text-align: center;
    border: 2px solid black;


}

.searchbar {
    /* width: 1020px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    gap: 8px;

    position: absolute;
    left: 18.4%;
    right: 6.67%;
    top: 21.22%;
    bottom: 74.11%;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px; */
    box-sizing: border-box;
    /* Auto layout */

    flex-direction: row;
    align-items: center;
    padding: 5px 16px;
    /* gap: 8px; */
    width: 76.5%;
    position: absolute;
    left: 10%;

    top: 20%;
    bottom: 74.11%;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
}

.header {
    position: absolute;
    width: 355px;
    height: 24px;
    left: 500px;
    top: 132px;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    /* or 38px */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
}