<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paystation | <%= title %> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <main>
            <h1 class="title">PAYSTATION</h1>
            <div class="login">
                <h1> <%= title %> </h1>
                <label for="username">Enter your email address and we will send instructions on how to reset.</label><br>
                <br>
                <input name="email" type="text"> <br>
                <br>
                <button class="reset">Reset</button>
                <button class="back" onclick="history.back()">Go back</button></a>
            </div>
        </main>

        </script>
    </body>
</html>