form{
	text-align: center;
	border-color: yellow;
}
.profile {
	border: 1px solid black;
	width: 50%;
	margin: auto;
	margin-bottom: 16px;
}

.field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 325px;
	margin: auto;
	margin-bottom: 16px;
}
.main{
	display: flex;
	height: 100vh;
	width: 100%;

}
.sideBar{
	display: flex;
	flex-direction: column;
	border: 2px solid red;
	width: 20%;
}
.title{
	text-align: center;
	padding-top: 100px;
}
.login{
	margin: auto;
	text-align: center;
	padding-top: 50px;
	width: 500px;
	height: 300px;
	border: 5px solid blueviolet;
	border-radius: 7%;
}
.label{
	margin: auto;
}
.reset, .back{
	margin-top: 15px;
	margin-left: 15px;
}
.loginButton{
	background: #0515f8f3;
	color: black;
	border: 2px violet;
	cursor: pointer;
}
* {
	font-family: Garamond;
}