<!DOCTYPE html>
<html>

<head>
	<title>Paystation | <%= title %> </title>
	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div class="main">
		<div class="sideBar">
			<% for(let profile of profiles) { %>
				<button onclick="popup()">
					<%= profile.name %>
						<%= profile.position %>
				</button>
				<% } %>
		</div>
		<div class="second">
		</div>
	</div>
</body>

</html>